<?xml version="1.0" ?>
<config>
    <modules>
        <Vmasciotta_Provinceitaliane>
            <version>1.0.0</version>
        </Vmasciotta_Provinceitaliane>
    </modules>
    <global>
        <resources>
            <vmasciotta_provinceitaliane_setup>
                <setup>
                    <module>Vmasciotta_Provinceitaliane</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </vmasciotta_provinceitaliane_setup>
        </resources>
    </global>
</config>